.container1{

	margin: 50px 100px 20px 200px;
	width:500px;
}


.title{
	
	
	font-size: 20px;
	color: darkgrey;
	font-weight: 500;
}

.bookmark{
	text-align: center;
	background-color: lightgray;
	width:1000px;
    padding: 80px;
	font-weight: bold;
	
}
.form-control{
	padding: 10px;
	
}

.btn{
	margin-top: 20px;
	padding: 50px;
}

.button{
	
	margin:10px;
	width:100px;
}